{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 120,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "^(react/(.*)$)|^(react$)|^(react-dom/(.*)$)|^($react-pdf$)",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$|^@/app/components/(.*)$",
    "^@/app/lib/(.*)$",
    "^@/app/utils/(.*)$",
    "^@/app/constants/(.*)$",
    "^@/app/data/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
