@import 'tailwindcss';

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  *,
  :after,
  :before {
    box-sizing: border-box;
  }

  a,
  details summary {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  :host,
  body,
  html {
    text-rendering: optimizeLegibility;
    background-color: var(--black);
    color: var(--gray-900);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  }
}

@layer base {
  :root {
    --foreground: 0deg 0% 0%;
    --background: 0deg 0% 100%;
    --border: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
  }
}

[data-theme='dark']:root {
  --foreground: 0deg 0% 100%;
  --background: 0deg 0% 0%;
  --ring: 272 3.8% 46.1%;
  --border: 240 3.7% 15.9%;
}

svg {
  shape-rendering: crispEdges;
}

svg circle,
svg line,
svg path,
svg polygon,
svg rect {
  shape-rendering: geometricprecision;
}

select.custom-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.25rem center;
  background-repeat: no-repeat;
  background-size: 1.2rem 1.2rem;
  padding-right: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

[data-theme='dark'] select.custom-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

input[type='date'].custom-date::-webkit-calendar-picker-indicator {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-calendar'%3E%3Cpath d='M8 2v4'%3E%3C/path%3E%3Cpath d='M16 2v4'%3E%3C/path%3E%3Crect width='18' height='18' x='3' y='4' rx='2'%3E%3C/rect%3E%3Cpath d='M3 10h18'%3E%3C/path%3E%3C/svg%3E")
    center/80% no-repeat;
  color: hsl(var(--foreground));
}

[data-theme='dark'] input[type='date'].custom-date::-webkit-calendar-picker-indicator {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-calendar'%3E%3Cpath d='M8 2v4'%3E%3C/path%3E%3Cpath d='M16 2v4'%3E%3C/path%3E%3Crect width='18' height='18' x='3' y='4' rx='2'%3E%3C/rect%3E%3Cpath d='M3 10h18'%3E%3C/path%3E%3C/svg%3E")
    center/80% no-repeat;
}

input[type='date'].custom-date::-webkit-datetime-edit {
  padding: 0;
  display: block;
  padding: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@layer utilities {
  @keyframes spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.15;
    }
  }

  .animate-spinner {
    animation: spinner 1.2s linear infinite;
  }
}
